#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
#intro h2{
    font-size: 1.5rem;
}
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}
@media(max-width:500px){


#pic img{
    height:100px;
    width:70px;
}
}

